*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #636363;
    /* line-height: 1.6; */
}

.container{
    max-width: 1199px;
    margin: 0 auto;
}
h2{
    font-size: 70px;
    font-weight: 800;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
/* width */
.w-50{
    width: 50%;
}

.w-60{
    width: 60%;
}

.w-40{
    width: 40%;
}

.w-100{
    width: 100%;
}

/* text */
.cl-pink{
    color: #f55f8d;
}

.cl-white{
    color: white;
}

.text-center{
    text-align: center;
}

/* background */

.bg-gradient{
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}
/* flex */
.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.jusity-between{
    justify-content: space-between;
}

/* header */

header{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

header li {
    padding: 50px 0;
}
header li a{
    margin-right: 30px;
    font-size: 15px;
    color: #070120;
    font-weight: 500;
    transition: all 0.3s;
}

header li a span{
    display: inline-block;
}

header li i{
    font-size: 9px;
    vertical-align: middle;
    margin-bottom: 3px;
}

header li:hover a{
    color: #f55f8d;
}

header li a:hover span{
    animation: upToDown 0.3s;
}

.btn{
    padding: 20px 35px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    transition: 0.5s;
}

.btn:hover{
    background-image: linear-gradient(to right,#f8ae56 0,#f55f8d 51%,#f8ae56 100%);
    background-position: right center;
}

/* .header_content{
    padding: 30px 0;
} */

/* banner */

.banner{
    background-image: url(./image/pic2.png);
    background-size: 100%;
    padding-top: 150px;
}
.banner_info p:first-child{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.banner_info .banner_desc{
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1.6;
}

.banner_info h2{
    color: #262626;
    margin-bottom: 20px
}

.banner_info li{
    padding: 10px 5px 10px 0;
    font-size: 20px;
}

.banner_info i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
}

.banner_info button{
    margin-top: 20px;
}

/* Services */

.service{
    background-image: url(./image/bg2.png);
    background-size: cover;
    background-position: top;
    padding-top: 100px;
}

.service_title p{
    font-weight: 600;
    font-size: 22px;
}

.service_title h2{
    font-size: 70px;
    font-weight: 800;
    color: #262626;
    margin: 20px 0;
}

.service_content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
}

.service_item{
    padding: 30px 45px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 20px 0 rgb(212, 212, 212);
    transition: 0.5s;
}

.service_item:hover{
    transform: translateY(-20px);
}

.service_item img{
    width: 215px;
}

.service_item h3{
    font-weight: 700;
    font-size: 1.5rem;
    color: #262626;
    margin: 15px 0;
}

/* About  */
.about{
    background-image: url(./image/pic2.png);
    background-size: 100%;
    padding-top: 150px;
}

.about_img{
    border-radius: 0 100px 100px 0;
    overflow: hidden;
}

.about_info{
    padding-left: 40px;
}
.about_info p:first-child{
    font-weight: 600;
    font-size: 22px;
    color: #f55f8d;
}

.about_info .about_desc{
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.6;
}

.about_info h2{
    font-size: 70px;
    font-weight: 800;
    color: #262626;
}

.about_info li{
    padding: 5px 5px 5px 0;
    font-size: 16px;
}

.about_info i{
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 24px;
    color: #f55f8d;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.about_info button{
    margin-top: 20px;
}

/* Number */
.number{
    background-image: url(./image/bg14.png);
    background-position: center;
    margin-top: 80px;
}
.number_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 50px 0;
}

.number_item h2{
    line-height: 1.2;
    font-size: 65px;
}

.number_item p{
    font-size: 18px;
    color: #262626;
}

.icon-smile{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    line-height: 80px;
    font-size: 45px;  
    color: white;
    margin: 0 auto;
}

.counter{
    margin-right: 15px;
}

/* features */
.feature{
    background-image: url(./image/bg2.png);
    background-size: cover;
    background-position: center top;
}

.feature_info{
    padding-top: 80px;
}
.feature_info p:first-child{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.feature_info h2{
    color: #262626;
    margin-bottom: 20px
}

.feature_info .item-left{
    padding: 0 50px 30px 0;
}

.feature_info .item-right{
    padding: 0 0 30px 50px;
}

.item_content{
    box-shadow: rgb(212 212 212) 0px 0px 20px 0px;
    border-radius: 10px;
    padding: 20px;
    transition: all 1s;
}

.feature_info .item_content i{
    font-size: 80px;
    color: #f55f8d;
    border-radius: 50%;
    margin-right: 25px;
    transition: 1s;
}

.item_content{
    background-color: #fff;
    transition: all 0.5;
}

.item_content .content_desc h3{
    font-weight: 800;
    color: #262626;
    font-size: 24px;
    transition: 1s;
}

.item_content .content_desc p{
    font-size: 16px;
    line-height: 1.6;
}

.item_content:hover{
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: white;
}

.item_content:hover i{
    color: white;
}

.item_content:hover h3{
    color: #fff ;
}

.feature_img{
    animation: move2 5s infinite
}

/* Portfolio */

.portfolio{
    padding-top: 100px;
}

.portfolio_title p{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.portfolio_title h2{
    color: #000;
}
.portfolio_list{
    display: grid;
    grid-template-columns: repeat(2,1fr) 1.5fr;
    gap: 35px;
}

.portfolio_item{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.portfolio_item::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    transform: skewX(-25deg);
    transition: all 0.75s;
}
  
.portfolio_item:hover::before {
    left: 125%;
}
  

.portfolio_item-1{
    grid-column: 1/span 2;
}

.portfolio_item-5{
    grid-column: 1/span 2;
}
.portfolio_item-6{
    grid-column: 3/4;
    grid-row: 2/4;
}

.portfolio_item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio_item:hover .overlay_icon {
    transform: translate(0);
}

.item-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    transition: 0.75s;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.item-overlay:hover{
    opacity: 1;
}

.overlay_icon{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px,-20px);
    transition: all .75s;
}

.overlay_title{
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    transform: translateY(150px);
    transition: all .75s;
}

.portfolio_item:hover .overlay_title {
    transform: translateY(0);
}

/* Plan */
.plan{
    background-image: url(./image/bg2.png);
    background-size: cover;
    background-position: top;
    padding-top: 100px;
}

.plan_title p{
    font-weight: 600;
    font-size: 22px;
}

.plan_title h2{
    font-size: 70px;
    font-weight: 800;
    color: #262626;
    margin: 20px 0;
}

.plan_content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
}

.plan_item{
    padding: 35px 60px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 20px 0 rgb(212, 212, 212);
    border: 3px solid transparent;
    border-image: 100 round;
    transition: all 0.5s;
}

.plan_item:hover{
    border-image: url(./image/br.png) 1 round;
}

.plan_item img{
    width: 125px;
}

.plan_item h3{
    font-weight: 700;
    font-size: 32px;
    color: #262626;
    margin: 15px 0;
}

.plan_item span{
    color: #f8ae56;
    font-size: 50px;
    font-weight: 800;
}

.plan_item p{
    font-size: 18px;
    color: #262626;
    font-weight: 600;
}

.plan_item ul{
    border-top: 1px solid #e1e1f0;
    padding: 15px 0;
}
.plan_item li{
    padding: 5px 5px 5px 0px;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

.plan_item i{
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    color: #f55f8d;
    background-color: #feeff3;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
}

/* Testimonial */

.testimonial{
    padding-top: 100px;
    background-image: url(./image/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.testimonial_title p{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
}

.testimonial_title h2{
    color: #000;
}

.testimonial-content {
    max-width: 1199px;
    margin: auto;
    text-align: center;
    padding: 100px 0;
  }
  
  .testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: pink;
  }
  
  .testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
    overflow: hidden;
  }

  .swiper-container{
    overflow: hidden;
  }

.swiper-pagination-bullet-active {
    background: #f55f8d;
}

  .testimonial-comment {
    min-height: 300px;
    width: 100%;
  }
  .testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
  }
  .testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
  }
  .testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
  }
  .testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

.testimonial-text i {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 70px;
    color: #f55f8d;
    transform: rotate(-180deg);
}

.testimonial-text p{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding: 0 15px 15px;
}

.testimonial-name{
    font-size: 22px;
    font-weight: 800;
    color: #000;
    line-height: 26px;
    margin-bottom: 5px;
}

.swiper-slide-thumb-active .testimonial-pic .shape-bx {
    opacity: 1;
}

.swiper-slide-thumb-active .testimonial-pic::after, .swiper-slide-thumb-active .testimonial-pic::before {
    opacity: 1;
}

.testimonial-pic::after {
    height: 10px;
    width: 10px;
    bottom: 0;
}

.testimonial-pic::before {
    height: 15px;
    width: 15px;
    bottom: 30px;
}

.testimonial-pic::after, .testimonial-pic::before {
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.testimonial-pic .shape-bx{
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    opacity: 0;
    transition: all 1s;
    background-color: #f55f8d;
}

.testimonial-pic .shape-bx::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(./image/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
    transition: all 1s;
}

.swiper-pagination{
    position: relative;

}

  /* .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 0;
  } */

/* Blog */

.blog{
    background-image: url(./image/bg16.png);
    background-size: cover;
    background-position: top center;
    padding-bottom: 50px;
}
.blog_title p{
    font-weight: 600;
    font-size: 22px;
}

.blog_title h2{
    font-size: 70px;
    font-weight: 800;
    color: #262626;
    margin: 20px 0;
}

.blog_content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
}

.blog-item{
    background: #FEEFF3;
    border-radius: 8px;
}

.blog_item-img img{
    width: 100%;
    border-radius: 8px;

}

.blog_item-desc{
    padding: 30px 15px 40px 15px;
    line-height: 1.4;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.blog_item-desc .time{
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    position: absolute;
    left: 15px;
    top: 0;
    transform: translateY(-60%);
}

.blog_item-footer{
    display: flex;
    align-items: center;
    padding: 15px;
}

.blog_item-footer i{
    font-size: 22px;
    margin-right: 5px;
}


/* Newsletter */
.newsletter{

}
.newsletter h2{
    font-size: 28px;
    color: #262626;
}

.newsletter_info{
    padding: 50px 60px;
    border-radius: 10px;
    background-image: url(./image/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 0 0 20px 0 rgb(212 212 212);
    background-color: #fff;
}

.newsletter_info form{
    border-radius: 10px;
}
.newsletter_info form input{
    width: 80%;
    border: 1px solid transparent;
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    transition: 0.5s;
}

.newsletter_info form input:hover{
    border: 1px solid #f55f8d;
}

.newsletter_info button{
    padding: 20px 35px;
    font-size: 20px;
    color: white;
    width: 20%;
    border: none;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

/* footer */
.footer{
    background-image: url(./image/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #0e1b1f;
}

.footer_content{
    background-image: url(./image/bg4.png);
    background-position: center;
    background-size: contain;
    padding: 70px 0;
    justify-content: space-between;
}

.footer_content .info li{
    padding: 8px 0;
}
.footer_content .info li i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
}

.footer_item{
    text-align: left;
}

.footer_item li{
    transition: 0.5s;
    padding: 8px 0;
}

.footer_item li:hover{
    color: white;
}

.footer_item li i{
    margin-right: 10px;
}

.footer_item h3{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
}

.footer_item h3::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 15px;
    height: 4px;
    border-radius: 2px;
    margin-right: 5px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
}

.footer_item h3::before{
    content: "";
    position: absolute;
    left: 20px;
    bottom: 0;
    width: 45px;
    height: 4px;
    border-radius: 2px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
}

/* Copyright */

.copyright{
    background-color: #1f343b;
}
.copyright_content{
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: white;
}

.copyright_content li{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.1);
    line-height: 32px;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    margin-right: 10px;
}

.copyright_content li:hover{
    background-color: #f55f8d;
}

/* Back to top */
.backTotop {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}
/* Animation */

@keyframes upToDown {
    49% {
      transform: translateY(100%);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    51% {
      opacity: 1;
    }
  }


@keyframes move2 {
    0% {
        transform: rotate(1deg) translate(2px,2px)
    }

    50% {
        transform: rotate(-1deg) translate(-2px,-2px)
    }

    100% {
        transform: rotate(1deg) translate(2px,2px)
    }
}